nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 80px;
  border-bottom: 1px solid #58402c;
}

nav .lista-nav ul {
  display: -webkit-box;
  display: flex;
}

nav .lista-nav ul li {
  padding: 9px 6px;
  margin: 0 16px;
}

nav .lista-nav ul li a {
  color: #58402c;
}

nav .lista-nav ul li:hover a {
  color: #30488f;
}

nav .lista-nav ul #botton {
  border: 1px #30488f solid;
  border-radius: 10px;
}

nav .lista-nav ul #botton a {
  margin-left: 8px;
  color: #30488f;
}

nav .lista-nav ul #botton i {
  color: #CC9900;
}

nav .lista-nav ul #botton:hover {
  background: #30488f;
}

nav .lista-nav ul #botton:hover a {
  color: white;
}

nav .lista-nav ul #botton:hover i {
  color: white;
}

#contenitore1 {
  margin: 100px 0;
}

.contFlex {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: flex;
}

.contFlex .left {
  width: 50%;
  color: #58402c;
}

.contFlex .left h1 {
  font-size: 52px;
  margin-bottom: 25px;
}

.contFlex .left p {
  font-size: 28px;
  margin-bottom: 25px;
}

.contFlex .left div {
  margin-bottom: 25px;
}

.contFlex .left div .btm {
  padding: 10px 14px;
  border: 1px solid;
  border-radius: 5px;
  background: #30488f;
  color: white;
}

.contFlex .left div .btm i {
  margin-right: 5px;
  color: #CC9900;
}

.contFlex .left div .btm:hover {
  background: #0f2c80;
  cursor: pointer;
}

.contFlex .left div .spazio {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 8px;
}

.contFlex .left a {
  color: #58402c;
}

.contFlex .left a i {
  font-size: 12px;
  margin-left: 3px;
}

.contFlex .left a:hover {
  color: #30488f;
}

.contFlex .right {
  width: 50%;
}

.contFlex .right img {
  width: 100%;
}

.contenitore2 {
  background: #ffe7d2;
  color: #58402c;
}

.cont {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #58402c;
}

.cont h2 {
  font-size: 28px;
  width: 54%;
  margin: auto;
  margin-top: 50px;
}

.cont .trecol {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  margin: 80px 0;
}

.cont .trecol div {
  flex-basis: 30%;
}

.cont .trecol div p {
  font-size: 18px;
  margin-top: 20px;
}

.cont .trecol img {
  height: 100px;
}

.cont .img-conig {
  width: 25%;
  margin: auto;
}

.cont .img-conig img {
  width: 100%;
}

.contenitore3 {
  display: -webkit-box;
  display: flex;
  color: #58402c;
  margin: 80px 0;
}

.wrap-img {
  flex-basis: 50%;
}

.wrap-img img {
  width: 100%;
}

.wrap-right {
  flex-basis: 25%;
}

.wrap-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.wrap-right p {
  font-size: 22px;
  margin-bottom: 25px;
}

.wrap-right a {
  font-size: 22px;
}

.wrap-right a i {
  margin-left: 5px;
}

.wrap-right div {
  margin-top: 50px;
  text-align: center;
}

.wrap-right div img {
  max-width: 70%;
}

.vuoto {
  width: 25%;
}

footer {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: flex;
  color: #58402c;
}

footer .foot-logo {
  display: -webkit-box;
  display: flex;
  flex-basis: 30%;
}

footer .foot-logo img {
  width: 135px;
  height: 60px;
  margin-right: 20px;
}

footer .foot-logo h4 {
  font-size: 20px;
}

footer .foot-logo h4 a {
  color: #30488f;
}

footer .foot-logo h4 a:hover {
  text-decoration: underline;
}

footer .lista-foot {
  margin-left: 50px;
  flex-basis: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

footer .lista-foot ul li {
  margin-bottom: 7px;
}

footer .lista-foot ul li a {
  color: #58402c;
}

footer .lista-foot ul li a:hover {
  color: #30488f;
}

.title-list {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

