#contenitore1{
  margin: 100px 0;
}
.contFlex{
  @include margin-dispaly;
  display: flex;
  .left{
    width: 50%;
    color: $color-primary;
    h1{
      font-size: 60px;
      margin-bottom: 25px;
    }
    p{
      font-size: 28px;
      margin-bottom: 25px;
    }
    div{
      margin-bottom: 25px;
      .btm{
        @include btm-gooSlack;
        i{
          margin-right: 5px;
          color: $color-loghi
        }
        &:hover{
          background: #0f2c80;
          cursor: pointer;
        }
      }
      .spazio{
        color: rgba(0, 0, 0, 0.5);
        margin: 0 8px;
      }
    }
    a{
      color: $color-primary;
      i{
        font-size: 12px;
        margin-left: 3px;
      }
      &:hover{
        color: $color-btn-google;
      }
    }
  }
  .right{
    width: 50%;
    img{
      width: 100%;
    }
  }
}

.contenitore2{
  background: $bg-color;
  color: $color-primary;
}
.cont{
  @include margin-dispaly;
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid $color-primary;
  h2{
    font-size: 28px;
    width: 54%;
    margin: auto;
    margin-top: 50px;
  }
  .trecol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
    div{
      flex-basis: 30%;
      p{
        font-size: 18px;
        margin-top: 20px;
      }
    }
    img{
      height: 100px;
    }
  }
  .img-conig{
    width: 25%;
    margin: auto;
    img{
      width: 100%;
    }
  }
}

.contenitore3{
  display: flex;
  color: $color-primary;
  margin: 80px 0;


}
.wrap-img{
  flex-basis: 50%;
  img{
    width: 100%;
  }
}
.wrap-right{
  flex-basis: 25%;
  h2{
    font-size: 28px;
    margin-bottom: 20px;
  }
  p{
    font-size: 22px;
    margin-bottom: 25px;
  }
  a{
    font-size: 22px;
    i{
      margin-left: 5px;
    }
  }
  div{
      margin-top: 50px;
      text-align: center;
    img{
      max-width: 70%;
    }
  }

}
.vuoto{
  width: 25%;
}
