#contenitore1{
  margin: 100px 0;
}
.contFlex{
  @include margin-dispaly;
  display: flex;
  .left{
    width: 50%;
    color: $color-primary;
    h1{
      font-size: 52px;
      margin-bottom: 25px;
    }
    p{
      font-size: 28px;
      margin-bottom: 25px;
    }

    a{
      color: $color-primary;
      i{
        font-size: 12px;
        margin-left: 3px;
      }
      &:hover{
        color: $color-btn-google;
      }
    }
  }
  .right{
    width: 50%;
    img{
      width: 100%;
    }
  }
}
.doblue-btm{
  margin-bottom: 25px;
  .btm{
    @include btm-gooSlack;
    i{
      margin-right: 5px;
      color: $color-loghi
    }
    &:hover{
      background: #0f2c80;
      cursor: pointer;
    }
  }
  .spazio{
    color: rgba(0, 0, 0, 0.5);
    margin: 0 8px;
  }
}
.contenitore2{
  background: $bg-color;
  color: $color-primary;
}
.cont{
  @include margin-dispaly;
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid $color-primary;
  h2{
    font-size: 28px;
    width: 54%;
    margin: auto;
    margin-top: 50px;
  }
  .trecol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
    div{
      flex-basis: 30%;
      p{
        font-size: 18px;
        margin-top: 20px;
      }
    }
    img{
      height: 100px;
    }
  }
  .img-conig{
    width: 25%;
    margin: auto;
    img{
      width: 100%;
    }
  }
}

.contenitore3{
  display: flex;
  color: $color-primary;
  margin: 80px 0;


}
.wrap-img{
  flex-basis: 50%;
  img{
    width: 100%;
  }
}
.wrap-right{
  flex-basis: 25%;
  h2{
    font-size: 28px;
    margin-bottom: 20px;
  }
  p{
    font-size: 22px;
    margin-bottom: 25px;
  }
  a{
    font-size: 22px;
    i{
      margin-left: 5px;
    }
  }
  div{
      margin-top: 50px;
      text-align: center;
    img{
      max-width: 70%;
    }
  }

}
.vuoto{
  width: 25%;
}
#contenitore4{
  background: $bg-color;
  color: $color-primary;
  padding: 80px 0;
  .cont4{
    width: 40%;
    margin: auto;
    text-align: center;
    h2{
      width: 70%;
      margin: auto;
      font-size: 35px;
    }
    a{
      color: $color-primary;
      &:hover{
        color: $color-btn-google;
      }
    }
  }
}
.msg{
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 20px 20px 40px;
  margin: 30px 0;
  p{
    margin-bottom: 80px;
  }
}
