@mixin margin-dispaly{
  width: 80%;
  margin: auto;
}
@mixin flex-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin btm-gooSlack{
  padding: 10px 14px;
  border: 1px solid;
  border-radius: 5px;
  background: $color-btn-google;
  color: white;
}
@mixin display-centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
